<p>error-page works!</p>

<ul>
  <li>
    <a routerLink="/auth/login">
      Go to Login
    </a>
  </li>
  <li>
    <a routerLink="/auth/register">
      Go to Register
    </a>
  </li>
  <li>
    <a routerLink="/heroes/list">
      Go to hero list
    </a>
  </li>
  <li>
    <a routerLink="/heroes/add">
      Go to add hero
    </a>
  </li>
  <li>
    <a routerLink="/heroes/edit/12">
      Go to edit hero
    </a>
  </li>
  <li>
    <a routerLink="/heroes/search">
      Go to search hero
    </a>
  </li>
  <li>
    <a routerLink="/heroes/12">
      Go to hero
    </a>
  </li>
</ul>

